.col {
    width: 100%;
    height: 115%;
    border-radius: 1000px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: .8%;

    @media @phone {
        padding-bottom: 1.3%;
    }

    &:hover .preview-token{
        display: inline;
    }

    &:hover .highlight{
        display: inline;
    }

    @keyframes drop-token {
        from {
            padding-bottom: 600%;
        }
        to {
            padding-bottom: 0;
        }
    }

    .token {
        width: 80%;
        margin-top: 20%;

        animation-name: drop-token;
        animation-duration: .3s;
        animation-timing-function: ease-in;

        @media @phone {
            margin-top: 20.1%;
        }
    }

    .preview-token {
        position: absolute;
        top: -15%;
        width: 11%;
        display: none;
    }

    .highlight {
        height: 100%;
        width: 100%;
        background: white;
        opacity: .50;
        display: none;
    }
}