.col {
    width: 100%;
    height: 117%;
    overflow: hidden;
    border-radius: 1000px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: .8%;

    @media @phone {
        padding-bottom: 1.3%;
    }

    &:hover .preview-token{
        display: inline;
    }

    &:hover .highlight{
        display: inline;
    }

    //===== START Token Styling and Animation =====

    //tokens start at a different height to account for the number of
    // tokens below them, so they always start just above the board
    @keyframes drop-token0 {
        from {padding-bottom: 600%;}
        to {padding-bottom: 0;}
    }

    @keyframes drop-token1 {
        from {padding-bottom: 500%;}
        to {padding-bottom: 0;}
    }

    @keyframes drop-token2 {
        from {padding-bottom: 400%;}
        to {padding-bottom: 0;}
    }

    @keyframes drop-token3 {
        from {padding-bottom: 300%;}
        to {padding-bottom: 0;}
    }

    @keyframes drop-token4 {
        from {padding-bottom: 200%;}
        to {padding-bottom: 0;}
    }

    @keyframes drop-token5 {
        from {padding-bottom: 100%;}
        to {padding-bottom: 0;}
    }

    .token {
        width: 80%;
        margin-top: 20%;
        pointer-events: none;

        animation-timing-function: ease-in;

        @media @phone {
            margin-top: 20.1%;
        }
    }

    .token0 {
        .token;
        animation-name: drop-token0;
        animation-duration: .5s;
    }

    .token1 {
        .token;
        animation-name: drop-token1;
        animation-duration: .452s;
    }

    .token2 {
        .token;
        animation-name: drop-token2;
        animation-duration: .404s;
    }

    .token3 {
        .token;
        animation-name: drop-token3;
        animation-duration: .349s;
    }

    .token4 {
        .token;
        animation-name: drop-token4;
        animation-duration: .286s;
    }

    .token5 {
        .token;
        animation-name: drop-token5;
        animation-duration: .202s;
    }

    //===== END Token Styling and Animation =====

    .preview-token {
        position: absolute;
        top: -15%;
        width: 11%;
        display: none;
    }

    .highlight {
        height: 100%;
        width: 100%;
        background: white;
        opacity: .50;
        display: none;
        cursor: pointer;
    }
}