.header-container {
    background: @black;
    width: 100%;
    height: 13vw;
    min-height: 50px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        padding: 5px;
        height: 100%;
    }
}