* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

@import 'variables.less';

@import 'app.less';

@import 'header.less';

@import 'game.less';

@import 'board.less';

@import 'col.less';