* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    
    min-height: 100vh;
    background: url('../../assets/background.svg') repeat;
    background-size: 1000px;
}

@import 'variables.less';

@import 'app.less';

@import 'header.less';

@import 'game.less';

@import 'board.less';

@import 'col.less';