.matching-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;

    .logo {
        width: 100%;
        max-width: 600px;
        margin-top: 20vh;
        padding: 20px;
    }

    .loading-container {
        width: 100%;
        max-width: 800px;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .loading {
            display: flex;
            flex-flow: column;
            cursor: default;

            @keyframes matching {
                from {
                    margin-left: 0;
                }
                to {
                    margin-left: 197px;
                    transform: rotate(180deg);
                }
            }

            .token {
                width: 100px;
                animation-name: matching;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }

            .text {
                color: @white;
                background: @black;
                border: @white solid 2px;
                box-shadow: 0 0 0 4px hsl(0, 0%, 0%);
                border-radius: 1000px;
                text-align: center;
                padding: 5px 13px;
                font-size: 2.5rem;
                z-index: -1;
            }
        }
    }

    .back{
        color: @white;
        background: @black;
        border: @white solid 2px;
        box-shadow: 0 0 0 4px hsl(0, 0%, 0%);
        border-radius: 1000px;
        text-align: center;
        padding: 5px 13px;
        font-size: 2.0rem;
        margin-top: 10%;
        cursor: pointer;
    }
}