* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
.board {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.board .board-back {
  width: 100%;
  z-index: -20;
}
.board .columns {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 0 1.4%;
}
.board .columns .col {
  width: 13%;
  height: 110%;
  border-radius: 1000px;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  padding-bottom: 0.6%;
}
.board .columns .col:hover {
  background: #ffffff75;
}
.board .columns .col .token {
  width: 90%;
  margin: 7.2% 0;
}
.board .board-front {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  pointer-events: none;
}
